
body {
  @apply font-sans antialiased text-offblack bg-offwhite;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  @apply
    p-0
    mb-6;
}

h1, .h1 {
  @apply text-6xl leading-negative tracking-tighter;
  font-size: 10vw;

  @screen md {
    font-size: 8vw;
  }

  @screen 2xl {
    @apply text-7xl leading-negative;
  }

  p {
    @apply tracking-tight;
  }
}

.about-title {
  @apply text-3xl leading-tighter tracking-tight;

  @screen md {
    font-size: 4.5vw;
    @apply leading-tighter;
  }
  @screen lg {
    font-size: 3.8vw;
    @apply  leading-tighter;
  }
  @screen xl {
    font-size: 3.2vw;
    @apply  leading-tighter;
  }
  @screen 3xl {
    font-size: 3.2vw;
    @apply  leading-tighter;
  }
}

.contact-title {
  @apply text-3xl leading-tighter tracking-tight;

  @screen md {
    font-size: 4.5vw;
    @apply leading-tighter;
  }
  @screen lg {
    font-size: 3.8vw;
    @apply  leading-tighter;
  }
  @screen xl {
    font-size: 3.5vw;
    @apply  leading-tighter;
  }
  @screen 3xl {
    font-size: 3.5vw;
    @apply  leading-tighter;
  }


  @media only screen and (max-height: 930px) {
    font-size: 4.65vh !important;
  }
}

h2, .h2 {
  @apply text-4xl leading-tighter tracking-tight;

  @screen md {
    @apply text-5xl leading-tighter;
  }
  @screen 2xl {
    @apply text-6xl leading-tighter;
  }

  p {
    @apply tracking-tight;
  }
}

h3, .h3 {
  @apply text-3xl leading-none tracking-tiny;

  @screen md {
    @apply text-4xl leading-none;
  }
  @screen xl {
    @apply text-5xl leading-none;
  }
}

.project-title {
  @apply text-4xl leading-none tracking-tiny;

  @screen md {
    @apply text-4xl leading-none;
  }
  @screen xl {
    @apply text-5xl leading-none;
  }
}

h4, .h4 {
  @apply text-2xl leading-none tracking-tiny;

  @screen md {
    @apply text-3xl leading-none;
  }
  @screen xl {
    @apply text-3xl leading-none;
  }
}


.hero-image-tagline {
  margin-left: 9%;
  margin-top: 7.5%;
  font-size: 1.35vw;
  width: 17%;
}

/* Link */
.link {
  @apply text-offblack underline transition;

  &:hover, &:focus {
    @apply text-gray-600;
  }

  &.is--active {
    @apply text-red-700;
  }
}

p {
  @apply tracking-tiny;
}

/* Content */
.content {
  /* Paragraph */
  p {
    @apply mb-6 tracking-tiny;
  }

  /* Headings following paragraphs */
  p + h1, p + h2, p + h3, p + h4 {
    @apply pt-6 block;
  }

  p > a {
    @apply underline;
  }

  ul {
    @apply pb-6 list-inside list-disc;
  }

  ol {
    @apply pb-6 list-inside list-decimal;
  }

  h2 {
    @apply text-3xl leading-tighter tracking-tight;

    @screen md {
      @apply text-4xl leading-tighter;
    }
    @screen 2xl {
      @apply text-5xl leading-tighter;
    }
  }

  h3 {
    @apply text-2xl leading-tighter tracking-tight;

    @screen md {
      @apply text-3xl leading-tighter;
    }
    @screen 2xl {
      @apply text-4xl leading-tighter;
    }
  }
}

.nav--active {
  span {
    @apply w-full;
  }
}

::-moz-selection {
  color: theme('colors.offwhite');
  background-color: theme('colors.black');
}

::selection {
  color: theme('colors.offwhite');
  background-color: theme('colors.black');
}